<body>
<footer class='container-fluid text-center navbar-fixed-bottom'>
  <a href="/" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href='https://github.com/KurisuLim' target='_blank'><i class="fa fa-github w3-hover-opacity"></i></a>
    <a href='https://www.linkedin.com/in/kurisulim/' target='_blank'><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p><i class="fa fa-copyright"></i>2018 Kurisu Lim. All Rights Reserved.</p>
</footer>
</body>