<body>
<footer class="w3-center  w3-padding-64">
<div class='hover1'></div>
  <a href="/#home" class="btn"><i class="icon fa fa-arrow-up w3-margin-right"></i>To the top</a>
</div>
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/KurisuLim" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/kurisulim/" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p style='color:#ecf0f1'><i class="fa fa-copyright"></i>2018 Kurisu Lim. All Rights Reserved.</p>
</footer>
</body>