<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <h2 class="w3-jumbo w3-hide-small">Hi, <span id="myName">I'm Lim.</span>
    <br/>I'm a Software Deployment Engineer.
    </h2><br>
    <h2 class="w3-xxlarge w3-hide-large w3-hide-medium">Hi, <span id="myName">I'm Lim.</span>
    <br/>I'm a Software Deployment Engineer.
    </h2><br>
    <p><a href="#about" class="btn">Learn more</a>
    <a href="https://storage.turbo360.co/portfolio-rlvq9y/lim-resume.pdf" class="btn">Resume</a>
    </p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-xxxlarge w3-hide-small" style="padding:124px 48px">
    <a href="https://github.com/KurisuLim" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/kurisulim/" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-xxxlarge w3-hide-large w3-hide-medium" style="padding:90px 48px">
    <a href="https://github.com/KurisuLim" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/kurisulim/" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
  </div>
</header>