<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}
<body>
  {{>navbar}}
  {{>jumbotron}}
  <div class='container'>
  <div id="about" class="text-center">
    <h3>About</h3>
    <p><em>I embrace the struggle!</em></p>
    <p>
      I was born and raise in the Philippines and moved to the United States when I was 16.
      Even as a child, I always find computers to be facinating. Back then, I do not own any
      personal computer or even a laptop. The only access that I have to any computer device is to
      go to a computer shop and rent it for 20 pesos an hour. And even if there will be a quiz or an exam
      in school. I spend my time in the Computer Shop. That is why during my high school years, I always
      get "Best in Computer" award.
    </p>
    <br/><br/><br/>
    <div class='text-left'>
    <h3>2007-2012</h3>
    <p>
      I began my journey to become a computer programmer in San Diego City College. I took
      Java, Java Alice, Game Maker, Visual Basic, C++ and C#. Also, there I met my first
      mentor who happen to be also my CISC professor Mr. Larry Forman. He always encourge me to
      be the best that I can. And always try to reach for the STARS. But unfortunately, with the
      recession and goverment budget cuts. The one subject that I need to get a certificate
      was not being teach to any San Diego Colleges.
    </p>
    </div>
    <br/><br/><br/>
    <div class='text-left'>
    <h3>2014-2018</h3>
    <p>
      I joined Alvarado Community Pharmacy and started working as an Out Patient Pharmacy Technician.
      As a Pharmacy Technician, I deal with customer service every day. But taking phone calls, assisting
      patients at the front. Processing and Filling prescription with great accuracy. I am also in charge
      in putting away stock that needs to be put away in alphabetical order. Then report the blood report
      to Clozapine Rems.
    </p>
    </div>
    </div>
  </div>
  {{>footer}}
  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>