<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}
<body>
  {{>navbar}}
  <!-- Page Content -->
  <div id="portfolio" class="w3-container" style="padding:128px 16px">
    <!-- Grid -->
    <div class="w3-row-padding">

 <!-- Projects -->
  <div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16"><i class="icon fa fa-laptop-code fa-fw w3-margin-right w3-xxlarge"></i>Projects</h2>
  <div class="w3-container">
<!-- Nav Bars -->  
  <ul class="nav nav-tabs">
    <li ><a data-toggle="tab" href="#javaScript">JavaScript</a></li>
    <li><a data-toggle="tab" href="#react">React</a></li>
    <li><a data-toggle="tab" href="#reactNative">React Native</a></li>
    <li><a data-toggle="tab" href="#sql">SQL</a></li>
    <li class="active" ><a data-toggle="tab" href="#python">Python</a></li>
    <li><a data-toggle="tab" href="#vue">Vue</a></li>
  </ul>
<!-- Tab Contents -->
  <div class="tab-content">
    <div id="javaScript" class="tab-pane fade ">
      <a href="https://github.com/KurisuLim/fromValidation" target="_blank"><h2>Regex Form Validation</h2></a>
      <p>A simple form Validation that uses Regex to check, if the user type correctly in the input fields.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
    <div id="react" class="tab-pane fade">
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
    <div id="reactNative" class="tab-pane fade">
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
    <div id="sql" class="tab-pane fade">
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
    <div id="python" class="tab-pane fade in active">
      <a href="https://github.com/KurisuLim/pythonsChallenges" target="_blank"> <h2>Python Challenges</h2></a>
      <p>A bunch of challenges from the book Python Programmer Third Edition <br/>
        for the absolute beginner<br/>
        By Michael Dawson
      </p>
      <a href="https://github.com/KurisuLim/gRexPG" target="_blank"><h2>gRexPG</h2></a>
      <p>A simple RPG Text Game made from Python.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
    <div id="vue" class="tab-pane fade">
      <a href="https://github.com/KurisuLim/vueTutorial1-10" target="_blank"><h2>Vue Js Tutorial 1-10 (from NetNinja)</h2></a>
      <p>This is a Git Repo that does example how to use Data Binding,
      Events, Keyboard Events, Computed Properties & Dynamic CSS.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
      <h2>Project Name</h2>
      <p>Project Description.</p>
    </div>
        <!-- Something -->
        </div>
      </div>
      </div>
    <!-- End Project -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Content -->
  </div>
  {{>footer}}
<!-- Your app specific code -->
  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script> <!-- Your app specific code -->
</body>
</html>