@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.bgimg-1{
    background-position: center;
    background-image: url('http://i377.photobucket.com/albums/oo212/KurisuLim/appleMacBook_zpsjetioiog.jpg');
    background-size: cover;
    min-height: 100%;
}
body,h1,h2,h3,h4,h5,h6,p,li,a {font-family: 'Raleyway', sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
.w3-bar .w3-button {
    padding: 16px;
}
.w3-container{
  min-height: 100%;
}
#myName{
  color: #3498db;
}
.btn{
  border-radius: 9px;
  font-family: 'Raleyway',sans-serif;
  color: #3498db;
  font-size: 20px;
  padding: 10px 20px;
  border:solid #3498db 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover{
  color:white;
  border:solid white 3px;
}
.icon{
  color: #3498db;
}
.bar{
  color: #3498db;
}