<div id="vue" class="tab-pane fade">
    <a href="https://github.com/KurisuLim/vueTutorial1-10" target="_blank"><h2>Vue Js Tutorial 1-10 (from NetNinja)</h2></a>
    <p>This is a Git Repo that does example how to use Data Binding,
    Events, Keyboard Events, Computed Properties & Dynamic CSS.</p>
    <h2>Project Name</h2>
    <p>Project Description.</p>
    <h2>Project Name</h2>
    <p>Project Description.</p>
</div>